body{
	background-color: #2f4050;
}
.navbar-nav li{
	font-weight: bold;
	font-family: Bitter,Georgia,Times,"Times New Roman", serif;
	font-size: 1.2em;
}
.line{
	margin-top: -20px;
}
table tr td{
	max-width: 400px;
}
.col-sm-10{
	background-color: #fff;
}
#side_menu a{
	color: #9fb1c2;
}
#side_menu .active a{
	color: #ffffff;
	background-color: #27AAE1;
	font-weight: bold;
}
#side_menu a:hover{
	color: #ffffff;
	background-color: #1ab394;
	font-weight: bold;
	display: block;
}
#footer{
	padding: 10px;
	border-top: 1px solid black;
	color: #eee;
	background-color: #211f22;
	text-align: center;
}
.FieldInfo{
	color:#344B1F;
	font-family: Bitter,Georgia,"Times New Roman",Times,serif;
	font-size: 1.2em;
}
#post_text{
	height: 125px;
	border-radius: 5px;
	padding: 5px;
}


